<!-- Componente para agregar información del equipo de trabajo -->
<h1 class="font-bold text-4xl" style="text-align: center;"> Equipo de trabajo </h1>
<br>
<br>
<div class="bg-gradient-to-bl flex items-center justify-center lg:h-screen">
    <div class="container mx-auto p-2">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4 gap-4 mx-auto">
            <!-- Josué Iván Ojeda Nolasco -->
            <div class="bg-white rounded-lg border p-4">
                <img src="./../../../assets/img/Josue.jpeg" class="w-full h-48 rounded-md object-cover">
                <div class="px-1 py-4">
                    <div class="font-bold text-xl mb-2 text-center">Josué Iván Ojeda Nolasco</div>
                    <p class="text-gray-700 text-base">
                        Soy un estudiante de la carrera de Ingeniería en Tecnologías de la Información
                        y Comunicaciones en el el Tecnológico de Salina Cruz. Cuento con experiencia para
                        desarrollo web y decidí afrontar este reto para probarme a mí mismo.
                    </p>
                </div>
            </div>
            <!-- Víctor Bock García -->
            <div class="bg-white rounded-lg border p-4">
                <img src="./../../../assets/img/Victor.png" class="w-full h-48 rounded-md object-cover">
                <div class="px-1 py-4">
                    <div class="font-bold text-xl mb-2 text-center">Víctor Bock García</div>
                    <p class="text-gray-700 text-base">
                        Nací en Salina Cruz, Oaxaca, y estoy estudiando la carrera de Ingeniería Electrónica
                        en el Instituto Tecnológico de Salina Cruz. Actualmente, me encuentro trabajando junto
                        a un grupo de compañeros en un proyecto motivador que nos reta y nos permite aplicar
                        nuestros conocimientos.
                    </p>
                </div>
            </div>
            <!-- Diego Moreno Moreno -->
            <div class="bg-white rounded-lg border p-4">
                <img src="../../../assets/img/Diego.jpeg" class="w-full h-48 rounded-md object-cover">
                <div class="px-1 py-4">
                    <div class="font-bold text-xl mb-2 text-center">Diego Moreno Moreno</div>
                    <p class="text-gray-700 text-base">
                        Soy un comprometido estudiante de Ingeniería Electrónica en el Instituto Tecnológico
                        de Salina Cruz. A lo largo de mi trayectoria académica, he demostrado una notable dedicación
                        y pasión por el mundo de la electrónica y la tecnología. Estoy preparado para asumir retos.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<!-- Finalizado -->
