<!-- DASHBOARD -->
<div class="content">
    <div>
        <section>
            <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl text-center"> SAAFA Monitor Web Project </h1>
            <br>
            <p class="text-justify">
                El proyecto consiste en realizar el análisis y evaluación técnica
                de la placa esp32 para determinar la factibilidad para realizar
                el monitoreo de las variables definidas en el alimentador automatizado
                flotante con movilidad controlada con alimentación fotovoltaica autónoma
                diseñado y construido para dosificar el alimento para el cultivo de tilapia
                en estanques de geomembrana del área de acuicultura del Instituto Tecnológico
                de Salina Cruz.
            </p>
        </section>
    </div>
    <!-- Datos -->
    <section>
        <div class="py-16">
            <div class="mx-auto px-6 max-w-6xl text-gray-500">
                <div class="relative">
                    <div class="relative z-10 grid gap-3 grid-cols-6">
                        <!-- Logo de la Institución -->
                        <div class="col-span-full lg:col-span-2 overflow-hidden flex relative p-8 rounded-xl bg-white border border-gray-200 dark:border-gray-800 dark:bg-gray-900">
                            <div class="size-fit m-auto relative">
                                <img src="../../../assets/img/Logo_itsal.png" alt="">
                            </div>
                        </div>
                        <!-- Cuadro Objetivo General del proyecto -->
                        <div class="col-span-full sm:col-span-3 lg:col-span-2 overflow-hidden relative p-8 rounded-xl bg-white border border-gray-200 dark:border-gray-800 dark:bg-gray-900">
                            <div>
                                <div class="mt-6 text-center relative z-10 space-y-2">
                                    <h2 class="text-lg font-medium text-gray-800 transition group-hover:text-purple-950 dark:text-white"> Objetivo </h2>
                                    <p class="dark:text-gray-300 text-gray-700">
                                        Analizar y evaluar la placa ESP32 para ser usada en el monitoreo
                                        y control del alimentador automatizado flotante para el cultivo de
                                        tilapia con alimentación fotovoltaica autónoma en el área de acuicultura
                                        del Instituto Tecnológico de Salina Cruz.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Cuadro foto A del Alimentador -->
                        <div class="col-span-full sm:col-span-3 lg:col-span-2 overflow-hidden relative p-8 rounded-xl bg-white border border-gray-200 dark:border-gray-800 dark:bg-gray-900">
                            <div>
                                <img src="../../../assets/img/SAAFA_2.jpg" alt="">
                            </div>
                        </div>
                        <!-- Cuadro foto B del Alimentador -->
                        <div class="col-span-full lg:col-span-3 overflow-hidden relative p-8 rounded-xl bg-white border border-gray-200 dark:border-gray-800 dark:bg-gray-900">
                            <div class="grid">
                                <div>
                                    <img src="../../../assets/img/SAAFA_1.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- Cuadro Importancia -->
                        <div class="col-span-full lg:col-span-3 overflow-hidden relative p-8 rounded-xl bg-white border border-gray-200 dark:border-gray-800 dark:bg-gray-900">
                            <div class="h-full grid">
                                <h2 class="text-lg text-center font-medium text-gray-800 transition group-hover:text-purple-950 dark:text-white">
                                    Importancia de la implementación del Monitor Web en este proyecto
                                </h2>
                                <p class="dark:text-gray-300 text-gray-700">
                                    Permitirá la visualización de los parámetros más
                                    importantes del sistema de alimentación utilizando
                                    la placa SoC ESP32.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Finalizado -->
